# MongoDB connection strings
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/database?retryWrites=true&w=majority


# Variables de autenticación
REGISTRO_SECRETO=tu_codigo_secreto_para_registro
REGISTRO_URL_SECRETO=tu_codigo_secreto_url_registro

# JWT Secret (para firma de tokens)
JWT_SECRET=tu_jwt_secret_muy_seguro_y_largo

# Tiempo de expiración del token en segundos (24 horas = 86400)
JWT_EXPIRES_IN=86400